<h1>Add course</h1>

<form action="/add" method="POST">
  <div class="input-field">
    <input placeholder="Title" name="title" id="title" type="text" class="validate">
    <label for="title">Title</label>
  </div>

  <div class="input-field">
    <input placeholder="Price" name="price" id="price" type="number" class="validate">
    <label for="price">Price</label>
  </div>

  <div class="input-field">
    <input placeholder="Img" name="img" id="img" type="text" class="validate">
    <label for="img">Img</label>
  </div>

  <button class="btn btn-primary">Add</button>
</form>